sandbox/
.ipynb_checkpoints/

.DS_Store

apps/labelstudio/data/label_studio.sqlite3
.Rhistory
*.pyc

apps/streamlit-image-reco/data
apps/streamlit-image-reco/rawdata


apps/streamlit-image-reco/0-preprocess.py
apps/streamlit-image-reco/1-model.py
apps/streamlit-image-reco/app.py
apps/streamlit-image-reco/README.md
